#v1
	background-color $fg
	color $bg
	#plays
		padding 1rem
		margin-top 50vh
		// display flex
		// flex-wrap wrap
		.play
			width 100%
			position relative
			margin-bottom 5rem
			padding-left 41rem
			opacity 0.33
			transition opacity 500ms ease-in-out
			&.is-active
				opacity 1
			&:nth-child(4n+1)
				.title
					color gold
			&:nth-child(4n+2)
				.title
					color orange
			&:nth-child(4n+3)
				.title
					color lightgreen
			&:nth-child(4n+4)
				.title
					color pink
			.title
				margin 0
				width 100%
				font-weight 900
				font-size 56px
				line-height 1
			.info
				display flex
				justify-content space-between
				max-width 75%
				p
					margin 0
					margin-top 0.5rem
	#media
		position fixed
		top 50%
		left 0
		width 40rem
		height 22.5rem
		transform translate(0, -50%)
		padding 1rem
		video
			display block
			border-radius 10px
		.media-overlay
			opacity 0.2